body {
    margin: 0;
    background-color: aquamarine;
}

/* //////////////////////////////////////////////////////
////////////////////////////////////////////////////////
/////////////////HEADER////////////////////////////////
////////////////////////////////////////////////////////*/
header {
    background-color: dodgerblue;
}
h1 {
    text-align:center;
    padding: 50px;
    margin:0;
    color:pink;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-size:100px; */
    /* margin: 200px; */
}
/* //////////////////////////////////////////////////////
////////////////////////////////////////////////////////
/////////////////NAVIGATION////////////////////////////////
////////////////////////////////////////////////////////*/
nav {
    background-color:rgba(97, 44, 44, 0.986);
    padding: 10px; 
}

.direction {
 list-style: none;
 text-align: center;

}

a {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    text-decoration: none;
    color:silver;
}

li {
    display:inline;
    margin:15px;
}
/* //////////////////////////////////////////////////////
////////////////////////////////////////////////////////
/////////////////ADD SIDE MAIN/////////////////////////////
////////////////////////////////////////////////////////*/

#adside1 {
    background: darkgreen;
    width: 60px;
    padding: 20px;
    float:left;
}

/* //////////////////////////////////////////////////////
////////////////////////////////////////////////////////
/////////////////MAIN////////////////////////////////
////////////////////////////////////////////////////////*/
main {
    /* margin-left:90px; */
    /* margin-right:90px; */
    margin-left:15px;
    width:85%;
    float:left;
    /* border: 1px solid red; */
}

/* //////////////////////////////////////////////////////
////////////////////////////////////////////////////////
/////////////////ADD SIDE 2////////////////////////////////
////////////////////////////////////////////////////////*/

#adside2 {
    background: darkgreen;
    width: 60px;
    padding: 20px;
    float:right;
} 

.test1 {
    width:50%;
    margin-top: 20px;
    float:left;
}

.test2 {
    width:50%;
    margin-top: 20px;
    /*50% of the mina not the page*/
    float:left;
}

/*/////////////////////////////////////////////////////
////////////////////////////////////////////////////////
/////////////////footer////////////////////////////////
////////////////////////////////////////////////////////*/

footer {
    background-color: gray;
    clear: both;
    padding: 200px;
}